<mat-card class="projects-card m-3" appearance="outlined">
    <mat-card-header>
        <mat-card-title><div class="lines shine"></div></mat-card-title>
        <mat-card-subtitle class="text-start"><div class="lines shine"></div></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="text-start mt-2">
        <div class="lines shine"></div>
        <div class="lines shine"></div>
        <div class="lines shine"></div>
        <div class="lines shine"></div>
        <br><br>
        <div class="lines shine"></div>
    </mat-card-content>
</mat-card>