.projects-card 
{
    width: 300px;
    float: left;
    height: 250px;
}

p
{
    margin: 0 !important;
    font-weight: 500;
}

span
{
    font-weight: 700;
    color: var(--primary-color);
}

.mat-icon
{
    float: left;
    margin-bottom: 16px;
    margin-left: 5px;
    font-size: 35px;
    width: 35px;
    height: 35px;
}

.mat-mdc-card-actions
{
    position: absolute;
    bottom: 0;
}