h1
{
    font-weight: 500;
    font-size: 30px;
    color: var(--primary-color);
}

.frm-project {
    width: 80%;
}

.full-width {
    width: 100%;
}

.medium-width {
    width: 50%;
    padding: 0 2px;
}

.small-width {
    width: 33.33%;
    padding: 0 2px;
}