h1 {
  font-weight: 500;
  font-size: 30px;
  color: var(--primary-color);
}

h2 {
  font-weight: 500;
  font-size: 25px;
  color: var(--primary-color);
}

.about-content {
  width: 90%;
  padding: 15px;
  text-align: justify;
}

span {
  font-weight: 700;
}
