<app-navbar></app-navbar>
<div class="about-content mx-auto mt-3">
  <h1 class="text-center">Sobre o RepoWeb</h1>
  <label
    >Bem-vindo ao RepoWeb! Este portal foi desenvolvido para facilitar o acesso
    aos TCCs dos alunos da nossa faculdade. Aqui, você pode consultar projetos
    acadêmicos de diversas áreas e usar como referência para seus próprios
    estudos e trabalhos.</label
  >
  <h2>Funcionalidades:</h2>
  <ul>
    <li>
      <span>Consulta de TCCs: </span>Use nossa ferramenta de busca para
      encontrar TCCs por autor, título, orientador, ano de conclusão ou área
      temática. Você pode aplicar filtros e localizar rapidamente o que precisa.
    </li>
    <li>
      <span>Acesso aos Documentos: </span>Visualize ou baixe o TCC completo em
      PDF para leitura. Todos os projetos estão disponíveis para consulta, sem
      necessidade de login.
    </li>
    <li>
      <span>Cadastro de Novos TCCs: </span>Professores e administradores podem
      cadastrar novos trabalhos diretamente na plataforma, incluindo todas as
      informações relevantes e o arquivo em PDF.
    </li>
  </ul>

  <h2>Benefícios:</h2>
  <ul>
    <li>
      <span>Facilidade de Acesso: </span>Todos os TCCs ficam disponíveis em um
      só lugar, acessíveis a qualquer hora e de qualquer dispositivo.
    </li>
    <li>
      <span>Referências Acadêmicas: </span>Use os projetos como base para sua
      própria pesquisa, obtendo insights e aprendendo com os trabalhos
      anteriores.
    </li>
    <li>
      <span>Preservação de Conhecimento: </span>Este repositório garante que os
      trabalhos dos alunos sejam preservados e possam ser consultados por
      futuras gerações. Explore e aproveite nosso repositório para enriquecer
      sua jornada acadêmica!
    </li>
  </ul>
  <h2>Idealizadores do Projeto</h2>
  <label
    >Este repositório de TCCs foi desenvolvido com a colaboração entre o
    professor <span>Daniel Lucas</span> e a ex aluna <span>Diany Souza</span> do
    curso de Sistemas de Informação da nossa faculdade.</label
  >
  <ul>
    <li>
      Daniel Lucas é professor na instituição, com vasta experiência em
      desenvolvimento de software e gestão de projetos acadêmicos. Ao longo dos
      anos, ele tem se dedicado a orientar alunos em diversas disciplinas na
      instituição e na criação de soluções tecnológicas que atendam às
      necessidades da comunidade acadêmica e contribuam para o avanço do
      conhecimento.
    </li>
    <li>
      Diany foi aluna do curso de Sistemas de Informação e apaixonada por
      inovação tecnológica. Durante seu curso, ela desenvolveu diversas
      habilidades em desenvolvimento web, bancos de dados e interfaces
      amigáveis, sendo peça fundamental na implementação do RepoWeb. Este
      projeto é resultado de seu trabalho para a disciplina de Desenvolvimento
      de Software, onde aplicou seu conhecimento para criar uma ferramenta útil
      e prática para alunos e professores.
    </li>
  </ul>
  <label
    >Juntos, eles idealizaram este projeto para facilitar o acesso aos trabalhos
    acadêmicos e promover a disseminação de conhecimento dentro da comunidade
    estudantil.</label
  >
</div>
