.form-container
{
    width: 50%;
    margin: 0 auto;
}

.mat-mdc-form-field
{
    display: block;
    width: 50%;
    margin: 0 auto;
}

h1
{
    font-weight: 500;
    font-size: 30px;
}

h2
{
    font-weight: 500;
    font-size: 26px;
}

.form-container
{
    box-shadow: 0 4px 10px 0 #0a0a0a30;
}
@media only screen and (max-width: 767px)
{
    .form-container
    {
        width: 100%;
    }    
}