<app-navbar></app-navbar>
<div class="mt-3">
    <h1 class="text-center">Bem vindo ao RepoWeb! O seu repositório de trabalhos acadêmicos.</h1>
    <div class="row">
        <div class="col-12 col-lg-9 text-center">
            <h2>Obras Recentes</h2>
            <div *ngFor="let project of listProjectsByID | slice:0:9">
                <app-card 
                    nomeProjeto="{{project.nm_projeto}}" 
                    anoProjeto="{{project.aa_projeto}}" 
                    autorProjeto="{{project.nm_autores}}" 
                    curso="{{project.nm_curso}}" 
                    orientador="{{project.nm_orientador}}" 
                    qtdAcessos="{{project.qt_acesso}}">
                </app-card>
            </div>
        </div>
        <div class="col-12 col-lg-3 text-center">
            <h2>Obras Mais Acessadas</h2>
            <div *ngFor="let project of listProjectsByAccess | slice:0:3">
                <app-card 
                    nomeProjeto="{{project.nm_projeto}}" 
                    anoProjeto="{{project.aa_projeto}}" 
                    autorProjeto="{{project.nm_autores}}" 
                    curso="{{project.nm_curso}}" 
                    orientador="{{project.nm_orientador}}" 
                    qtdAcessos="{{project.qt_acesso}}">
                </app-card>
            </div>
        </div>
    </div>
</div>